@{
    ViewData["Title"] = "Home Page";
}

@using testMvc.Models;
@model GameModel;

<div class="text-center">
  <h1 class="display-4">Home</h1>
</div>

<div>
  <h4 class="mb-3">
    Guess number between @Model.NumberFrom and @Model.NumberTo
  </h4>
  <form method="post" class="w-25" asp-controller="Home" asp-action="Index">
    <label>Type number</label>
    <input type="number" class="form-control" asp-for="CurrentGuess">
    @if (!string.IsNullOrEmpty(Model.Message))
    {
    <p class="mt-2 @(Model.IsErrorMsg ? "text-danger" : "text-success")">@Model.Message</p>
    }
     <button type="submit" class="btn btn-primary mt-2" value="@GameModel.ButtonNames.Play" name="ButtonClicked">Submit</button>
     @if (@Model.EndGame)
    {
    <button type="submit" class="btn btn-primary mt-2" value="@GameModel.ButtonNames.Reset" name="ButtonClicked">Play again</button>
    }
  </form>
</div>